* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
ul.nav justify-content-end {
    list-style-type: none;
}

header {
    height: 14vh;
}

.nav-item li {
    display: inline-block;
}

ul.nav justify- content-end li a {
    text-decoration: none;
}
.logo {
width: 68px;
height: 68px;
}
.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px
}
.fotos img {
    width: 30%;
    border: solid 1px rgb(15, 15, 15);
    border-radius: 2rem; 
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

footer{
    text-align:center;
    height: 5vh;
}