* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
ul.nav justify-content-end {
    list-style-type: none;
}

header {
    height: 14vh;
}

.nav-item li {
    display: inline-block;
    align-content: flex-end;
}

ul.nav justify- content-end li a {
    text-decoration: none;
}
.logo {
width: 68px;
height: 68px;
}
.grid-fotos img {
    width: 80%;
    border: solid 1px rgb(15, 15, 15);
    border-radius: 2rem; 
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

footer{
    text-align:center;
    height: 5vh;
}

.grid-fotos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

